@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  @apply flex min-h-screen flex-col items-center justify-between w-full h-full;
}

.nav-item {
  @apply font-semibold text-base text-center transition hover:text-[#FFB100] text-[#CFCFCF] hover:underline underline-offset-4;
}

.underlined-element {
  @apply font-bold text-amber-500 decoration-amber-500 decoration-dashed decoration-[3px] underline-offset-4;
}

.underlined-element-blue {
  @apply font-bold underline text-amber-500 decoration-[#3A94FF] decoration-dashed decoration-[3px] underline-offset-4;
}

#second-navbar {
  @apply transform -translate-y-full transition-transform duration-300 ease-out;
}

#second-navbar.show {
  @apply transform translate-y-0;
}

#second-section.active {
  @apply rounded-none;
}

.glow-index-low {
  -webkit-box-shadow: 0px 0px 31px 1px rgba(0, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 31px 1px rgba(0, 255, 255, 0.9);
  box-shadow: 0px 0px 31px 1px rgba(0, 255, 255, 0.9);
}

.glow-index-high {
  -webkit-box-shadow: 0px 0px 50px 7px rgba(0, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 50px 7px rgba(0, 255, 255, 0.9);
  box-shadow: 0px 0px 50px 7px rgba(0, 255, 255, 0.9);
}

.underlined-element-white {
  @apply font-bold underline decoration-amber-500 decoration-dashed decoration-[3px] underline-offset-4;
}

.yellow-shadow {
  -webkit-box-shadow: 4px 4px 29px -9px #ffb100;
  box-shadow: 4px 4px 29px -9px #ffb100;
}

.text-gradient-light-blue {
  background: #bceffc;
  background: radial-gradient(
    circle farthest-corner at center center,
    #bceffc 0%,
    #63b1ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: #e1f4f9;
  background: linear-gradient(to right, #e1f4f9 0%, #a6c5cc 50%, #6e8287 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue-white {
  background: #d0d0d0;
  background: linear-gradient(to left, #d0d0d0 0%, #366e6e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leading-4rem {
  line-height: 4rem !important;
}

.gradient-blue-yellow {
  background-image: linear-gradient(
    to right top,
    #669cee,
    #00bdfe,
    #00d6dc,
    #00e693,
    #b6e942
  );
}

.arrow {
  transition: transform 0.3s ease;
}

.select-button:hover .arrow {
  transform: rotate(360deg);
}

.gradient-orange-red {
  background-image: linear-gradient(
    to right top,
    #be9608,
    #dd6317,
    #e90048,
    #d10084,
    #7907c2
  );
}

.blue-blur {
  -webkit-box-shadow: 0px 0px 58px 10px rgba(42, 180, 255, 0.9);
  -moz-box-shadow: 0px 0px 58px 10px rgba(42, 180, 255, 0.9);
  box-shadow: 0px 0px 58px 10px rgba(42, 180, 255, 0.9);
}

.yellow-green-gradient {
  background: #dde416;
  background: linear-gradient(to left, #dde416 0%, #d91c3b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cyan-purple-gradient {
  background: #0de6ac;
  background: linear-gradient(to left, #0de6ac 0%, #7109d3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-gradient {
  background: none;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: initial;
}

.telegram-gradient {
  background: #2bb2f7;
  background: linear-gradient(to right, #2bb2f7 0%, #2390c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.discord-gradient {
  background: #605aff;
  background: linear-gradient(to right, #605aff 0%, #454fbd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whatsapp-gradient {
  background: #51e749;
  background: linear-gradient(to right, #51e749 0%, #42b451 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instagram-gradient {
  background: #a910f3;
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #a910f3 4%,
    #fe09c0 21%,
    #ff3825 64%,
    #fdbf0c 98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tiktok-gradient {
  background: #2cf4ef;
  background: linear-gradient(to right, #2cf4ef 0%, #3d3d3d 50%, #fe335a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeInUpBlur {
  from {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}

.animate-appear {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUpBlur 1s ease-in-out forwards;
}

.blur {
  filter: blur(2px);
}
